/* UTILITIES */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000010;
  border: 2px dashed red;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.container.container-xl {
  max-width: 1180px;
}
.container.container-s {
  max-width: 800px;
}
.container.container-b {
  max-width: 900px;
}

#business-plan,
#find-partner,
#utilities,
#clients {
  padding-top: 100px;
}
.small-button,
.small-button-2 {
  background-color: #0062fe;
  color: white;
  padding: 5px 10px;
  border: 0;
}

.small-button-2 {
  padding: 10px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-size: small;
  padding: 0.5rem;
}

.header-links li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
nav img {
  height: 20px;
}

/* JUMBO */

#jumbo {
  background-color: #b4d0e7;
}
#jumbo img {
  max-width: 700px;
  padding-top: 50px;
}
#jumbo .col30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#jumbo .arrow {
  margin-top: auto;
  margin-bottom: 30px;
}
#jumbo .container {
  position: relative;
  top: 50px;
}
#jumbo h1 {
  font-size: 4rem;
  font-weight: bold;
}
#jumbo p {
  padding: 30px 0px;
  font-size: small;
}
.small-button-2 {
  padding: 10px;
  font-size: small;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: calc(100% / 3);
}
.col70 {
  width: 70%;
}
.col30 {
  width: 30%;
  margin: 30px 0px;
}
.col-60 {
  width: 60%;
}
.col-40 {
  width: 40%;
}
.col-20 {
  width: 20%;
}
.payment-type {
  display: flex;
}

.card,
.card-header {
  border: 1px solid grey;
}
/* BUSINESS PLAN */
#business-plan h2 {
  padding: 50px 0px;
  font-size: 2rem;
}
.payment-type {
  padding-bottom: 50px;
}
label {
  padding-right: 50px;
}
#business-plan .card {
  display: flex;
  flex-direction: column;
}

.card-header {
  text-align: center;
}
.card-main,
.card-footer {
  padding: 30px 15px;
}
.card-main .bold {
  font-weight: bold;
}

.card-main .grey {
  color: grey;
}

/* FIND PARTNER */

#find-partner img {
  max-width: 450px;
}
#find-partner h4,
p,
button {
  padding: 10px 0px;
  font-size: small;
}
#find-partner h4 {
  padding-top: 50px;
  font-size: large;
}
#find-partner button {
  background-color: white;
  padding: 10px;
}
#find-partner p {
  line-height: 1.5;
}

/* UTILITIES */

#utilities img {
  max-width: 250px;
}

.card-ut {
  max-width: 250px;
  font-size: small;
  line-height: 1.5;
}

/* CLIENTS */
#clients h2 {
  font-size: xx-large;
}

#clients h2,
a {
  padding-top: 50px;
  padding-bottom: 50px;
}
