/* UTILITIES */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000010;
  border: 2px dashed red;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.container.container-xl {
  max-width: 1180px;
}

.small-button,
.small-button-2 {
  background-color: #0062fe;
  color: white;
  padding: 5px 10px;
  border: 0;
}

.small-button-2 {
  padding: 10px 15px;
}

/* h2 {
  text-align: left;
  font-size: 2rem;
  padding: 50px;
} */
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-size: small;
  padding: 0.5rem;
}

.header-links li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
nav img {
  height: 20px;
}

/* JUMBO */

#jumbo {
  background-color: #b4d0e7;
}
#jumbo img {
  max-width: 700px;
  padding-top: 50px;
}
#jumbo .col30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#jumbo .arrow {
  margin-top: auto;
  margin-bottom: 30px;
}
#jumbo .container {
  position: relative;
  top: 50px;
}
#jumbo h1 {
  font-size: 4rem;
  font-weight: bold;
}
#jumbo p,
button {
  padding: 30px 0px;
  font-size: small;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px dashed black; */
}

.col {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: calc(100% / 3);
}
.col70 {
  width: 70%;
}
.col30 {
  width: 30%;
  margin: 30px 0px;
}
.secondcol-1-3 {
  width: calc(100% / 5);
}

.payment-type {
  display: flex;
}
